html, body, div, span,
h1, h2, h3, h4, h5, h6, 
p, a, img, small, strong, i, ul, li, 
fieldset, form, label, legend, article, 
aside, figure, footer, header, nav, output, section
 {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    
}
ol, ul {
    list-style: none;
}
